[core]
	editor = nano
[user]
	name = Raquel Zevallos
	email = raquelzevallos@email.arizona.edu
[push]
	default = simple
[alias]
	# Show log graph
	graph = log --graph --abbrev-commit --date=iso --all
	
	# List 10 most recent tags
	list-tags = tag --sort version:refname -n10 -n
	
	# List contributors with number of commits
	contributors = shortlog --summary --numbered
# Force SSL
[url "git@github.com:"]
	insteadOf = https://github.com/
